<div class="expander">
    <div class="expander-header">
        <div class="header-content">
            <p class="fonticon title-fonticon">&#xE710;</p>
            <div class="header-text">
                <p data-i18n="Advanced">高级信息</p>
                <p data-i18n="AdvancedTip" class="advanced-tip">查看详细信息，用于电脑性能的详细分析。</p>
            </div>
        </div>

        <div class="expander-bg">
            <div class="fonticon expander-fonticon">&#xE70D;</div>
        </div>
    </div>
    <div class="expander-content">
        <div class="expander-body">
        </div>
    </div>
</div>