<div class="grid">
    <!-- 标题上方的分隔线 -->
    <div class="grid-line"></div>

    <div class="bold grid-head" data-i18n="Component">组件</div>
    <div class="grid-head" data-i18n="ScoredItems">评分的项目</div>
    <div class="grid-head" style="justify-self: center;" data-i18n="SubScore">子分数</div>
    <div class="grid-head" style="justify-self: center;" data-i18n="BaseScore">基本分数</div>

    <!-- 标题下方的分隔线 -->
    <div class="grid-line"></div>

    <div class="bold grid-cell" data-i18n="Processor">处理器:</div>
    <div class="grid-cell" data-i18n="CalcPerSecond">每秒计算速度</div>
    <div class="grid-cell sub-score lowest" id="CPUScore"></div>
    <div class="card-background">
        <div class="card" id="TotalScore"></div>
        <p class="card-tip" data-i18n="subScoreTip">由最低子分数决定</p>
    </div>
    <div class="bold grid-cell" data-i18n="MemoryRAM">内存(RAM):</div>
    <div class="grid-cell" data-i18n="MemoryOps">每秒内存运行速度</div>
    <div class="grid-cell sub-score lowest" id="RAMScore"></div>
    <div class="bold grid-cell" data-i18n="Graphics">图形:</div>
    <div class="grid-cell" data-i18n="DesktopGraphics">桌面图形性能</div>
    <div class="grid-cell sub-score" id="DWMScore"></div>
    <div class="bold grid-cell" data-i18n="GamingGraphics">游戏图形:</div>
    <div class="grid-cell" data-i18n="GamingGraphicsDesc">3D 商务和游戏图形性能</div>
    <div class="grid-cell sub-score" id="3DScore"></div>
    <div class="bold grid-cell" data-i18n="PrimaryDisk">主硬盘:</div>
    <div class="grid-cell" data-i18n="DiskTransferRate">硬盘数据传输速率</div>
    <div class="grid-cell sub-score" id="DiskScore"></div>
</div>